* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

nav {
  background: rgb(255, 255, 255);
  padding: 200px;
}

.nav-link {
  padding-top: 25px;
  color: rgb(172, 172, 172) !important;
}
.nav-link:hover {
  color: rgb(139, 133, 124) !important;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}
.colored-text {
  color: rgb(33, 181, 115);
}
header {
  background: url(../images/1.png) no-repeat center/ cover;
  width: 100%;
  padding-bottom: 200px;
}
nav ul li a {
  margin-left: 20px;
}

header .navbar-light .navbar-nav .nav-link {
  color: black;
}
.btn-success {
  color: #fff;
  background-color: rgb(33, 181, 115);
  border-color: rgb(33, 181, 115);
  border-radius: 100px;
  padding: 8px 28px;
}
.btn-success:hover,
.btn-success:focus {
  background: transparent;
  color: black;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid black;
  font-weight: 600;
}
.banner img {
  /* width: 80%; */
}
.banner .col-lg-6 {
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 180px;
}
.banner .col-lg-6 p {
  padding-top: 20px;
  color: rgb(122, 122, 122);
}
.banner .title {
  font-size: 48px;
  margin-bottom: 20px;
  line-height: 60px;
}
.details {
  color: white !important;
}
.watch {
  display: inline-block;
  background: rgb(181, 28, 28);
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: right;
  margin-left: auto;
}
.watch:hover {
  background: rgb(134, 21, 21);
}
.banner p {
  line-height: 36px;
}
.banner h1 {
  color: rgb(242, 84, 126);
}
.banner-left {
  padding-top: 40px;
}
.banner-right {
}
.banner .btn {
  margin-top: 16px;
}
.banner .btn-success {
  background: rgb(242, 84, 126) !important;
}
.banner .btn-success:hover {
  background: transparent !important;
}
.banner .row {
  padding: 80px 0;
}
.tour {
  background-color: rgb(241, 241, 241);
  padding-top: 60px;
  padding-bottom: 60px;
}
.tour > h1,
.tour p {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
.tour h1 {
  color: rgb(93, 93, 93);
  padding-bottom: 20px;
  padding-top: 20px;
}
.tour p {
  padding: 20px;
}
.popular {
  background: rgba(41, 14, 22, 0.096);
}
.stat {
  color: white;
}
.stats {
  padding-bottom: 100px;
  padding-top: 100px;
  background: rgb(242, 84, 126);
}
.sub .row {
  background: transparent;
  text-align: center;
  padding-top: 40px;
  margin-top: 60px;
  padding-bottom: 40px;
}
.subs {
  background: rgb(42, 41, 46);
}
.subs h1,
.subs p {
  color: white;
}
.stat .row {
  background: rgba(0, 0, 0, 0.055);
  text-align: center;
  padding-top: 40px;
  margin-top: 60px;
  padding-bottom: 40px;
  border-radius: 20px;
}
.stats input {
  background: rgb(64, 63, 68);
  outline: red;
  border: red;
  margin-bottom: 14px;
  margin-right: 10px;
  padding: 15px 30px;
  border-radius: 4px;
  /* width: 400px; */
}
.stats button {
  background: rgb(58, 119, 78);
  color: white;
  outline: red;
  border: red;
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  /* text-align: center; */
}
.features {
  margin: 0px 0;
}
.features .inner-feature {
  padding: 40px;
  background: rgb(248, 255, 251);
  text-align: center;
  border-radius: 10px;
}
.features .inner-feature:hover {
  background-color: white;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.185);
}
.features .row {
  width: 100%;
}
.features .inner-feature h4 {
  font-size: 20px;
}
.features .inner-feature h6 {
  font-size: 16px;
}
.features .inner-feature img {
  height: 80px;
  margin-bottom: 22px;
}
.courses {
  margin: 80px 0;
}
.courses img {
  margin-bottom: 20px;
}
.courses .inner-courses {
  padding: 20px;
}
.courses .inner-courses button {
  margin: 30px 0;
}
.courses .inner-courses .courses-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses .inner-courses {
  border-radius: 18px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.116);
}
.courses h1 {
  color: #413960;
  font-weight: bold;
}
.courses-info img {
  width: 20px;
  margin: 0;
}
.testimonial .inner-testimonial {
  display: flex;
  width: 70%;
  margin: 80px auto;
  justify-content: center;
  align-items: center;
}
.testimonial .inner-testimonial img {
  width: 120px;
}
.testimonial .inner-testimonial p {
  width: 90%;
  margin-left: auto;
  line-height: 30px;
}
footer {
  background: rgb(241, 241, 241);
  text-align: center;
  color: rgb(147, 147, 147);
  padding-top: 55px;
  padding-bottom: 55px;
}
li {
  list-style: none;
  color: rgb(252, 234, 210);
  text-decoration: none;
  margin-bottom: 14px;
}

.copyright {
  margin-top: 76px;
  color: rgb(252, 234, 210);
}
footer ul {
  padding: 0;
}
footer h5 {
  margin-top: 30px;
  margin-bottom: 30px;
}
footer img {
  /* margin-right: 14px;
  height: 30px; */
}

.item {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.315);
}
